<% include partials/header %>

    <div class="container">
        <header class="jumbotron" style="height:200px">
                <div class="container">
                    <h1><i class="users icon"></i> Welcome To Study Groups</h1>
                </div>
                <p class="text-center">
                    <a class="btn btn-default btn-large" href="/login"><i class="sign in icon"></i>Login</a>
                    <!--<a class="btn btn-default btn-large" href="/register"><i class="upload icon"></i> Sign Up</a>-->
                </p>
        </header>
    </div>

<% include partials/footer %>